/* Add a black background color to the top navigation */
*{
    background-color: #FAFAFA;
    text-align: center;
}
.main{
    height: 300px;
}
.topnav {
    background-color: #FAFAFA;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    /* float: left; */
    color: black;
    text-align: center;
    padding: 15px ;
    /* padding-right: 150px;
    padding-left: 100px; */
    text-decoration: none;
    font-size: 20px;
   
   
  }
  .topnav .nav{
    text-align: center;
    float: right;
    padding-right: 600px;
    padding-top: 20px;
    
  }

   .topnav .bt{
    float:right;
    padding-right: 100px;
    border-color: white;
    
    
  }
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    font-family: Oleo Script;
    color: black;
    margin-top: 20px;
    font-size: 30px;
    font-style: italic;
  }