/* Add a black background color to the top navigation */
*{
    background-color: #FAFAFA;
    text-align: center;
}
.main{
    height: 300px;
}
.topnav {
    background-color: #FAFAFA;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    /* float: left; */
    color: black;
    text-align: center;
    padding: 15px ;
    /* padding-right: 150px;
    padding-left: 100px; */
    text-decoration: none;
    font-size: 20px;
   
   
  }
  .topnav .nav{
    text-align: center;
    float: right;
    padding-right: 600px;
    padding-top: 20px;
    
  }

   .topnav .bt{
    float:right;
    padding-right: 100px;
    border-color: white;
    
    
  }
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    font-family: Oleo Script;
    color: black;
    margin-top: 20px;
    font-size: 30px;
    font-style: italic;
  }
  .home{
    display: flex;
    text-align: center;
   padding: 30px;
  }
  .home p{
    font-size: 60px;
    padding-left: 100px;
    font-family:  Oleo Script;
  }
  .home img{
    height: 450px;
    width: 950px;
    padding-left: 200px;
    
  }
.container{
    text-align: center;
    float: right;
    padding-right: 400px;
   
   
}
table{
   background-color: #ddd;
   border-radius: 20px;
   border-color:#FAFAFA;
}
table tr th{
    padding: 50px;
    color:#2549D3;
    border-radius: 20px;
    width: 200px;
    
}
.card img {
  width: 300%;
  height: 20vw;
  object-fit:cover;
}
.cards {
   margin-left: 50px; 
  align-content:center;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(207, 171, 171, 0.2);
  transition: 0.3s;
  display: inline-block;
  margin-right: 40px;
  width: 20%;
  height: 15%;
}